.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.form textarea {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: block;
    margin: 20px;
}

.form input[type='text'] {
    background-color: lightgray;
    display: block;
    margin: 20px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: red;
    margin: 20px;
}

.form {
    margin: 20px;
    padding: 25px;
}

.guestbookform label{
    display: block;
    margin: 20px;
}

.hidden {
    display: none;
}

#addForm label {
    display: block;
}

#addForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    background-color: cadetblue;
    z-index: 2;
}

#shadow {
position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}